:root {
  --Tgreen: rgb(6, 201, 6);
}

body{
    background-color: black;
    color: var(--Tgreen);
    font-family: 'Cascadia Code', 'VT323', 'Times New Roman', Times, serif;
}
.cmdLine{
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
}
.systemName{
    white-space: nowrap; 
    margin: 0; 
}
#prompt {
    flex: 1; 
    min-width: 150px;
    background-color: transparent;
    color: var(--Tgreen);
    border: none;
    caret-color: transparent;
    position: relative;
}
#prompt:focus{
    box-shadow: none;
}
#prompt::after{
    content: "";
    display: inline-block;
    width: 6px; 
    height: 1.2rem;
    background: var(--Tgreen);
    animation: blink 1s steps(1) infinite;
    position: absolute;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
@media (max-width: 777px) {
  .systemName {
    white-space: normal;
  }
  .cmdLine {
    flex-direction: column;
    align-items: flex-start;
  }
  #prompt {
    width: auto;
  }
}

